.rootHomepage {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 89, 255, 0.226);
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  overflow-y: auto;
  h1 {
    padding: 1rem;
  }
}
