.rootHomeLayout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border: solid blue;
  height: 100vh;
  min-width: 100vw;
  overflow: hidden;

  position: relative;

  -ms-overflow-style: none; // IE 10+
  scrollbar-width: none; // Firefox

  &::-webkit-scrollbar {
    display: none; // Chrome, Safari, Opera
  }

  .containerBodyLayout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    border: solid rgb(185, 81, 81);
    min-width: 100%;
    flex: 1;
    overflow-y: hidden;
    // max-height: calc(100vh - 270px); // Viewport height minus header and footer
  }
}
