.rootHeader {
  display: flex;
  flex-direction: column;

  border: solid rgb(175, 21, 21);
  min-height: 150px;
  max-height: 150px;
  justify-content: space-between;
  padding: 1rem;
  .boxLeft,
  .boxRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .boxLeft {
    justify-content: space-between;
    .boxImage {
      min-width: 35px;
      max-width: 35px;
      min-height: 35px;
      max-height: 35px;
      background-color: azure;
      border-radius: 3px;
      overflow: hidden;
    }
  }

  .boxRight {
    justify-content: center;
    nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      li {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
    }
  }

  @media screen and (min-width: 600px) {
    flex-direction: row;
  }
}
