.rootAside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: solid rgb(185, 81, 176);
  min-width: 70px;
  transition: flex-basis 1s;

  h4 {
    transition: font-size 1s;
  }
}
